.preview-iframe {
    width: 100%;
    height: 100%;
    overflow: scroll;
    border: 0px;
    margin: auto;
    display: block;
    margin: 0;
    padding: 0;
    height: 100vh;
    margin-top: 150px;
}