.top-bar {
  height: 150px;
  position: fixed;
  top: 0px;
  border-bottom: 5px solid #E91E63;
  width: 100%;
  background: #000000;
  color: #fff;
}

.header {
  font-size: 20px;
  margin: 10px;
}

.header strong{
  color:#E91E63
}

.message {
   font-size: 12px;
   margin: 20px; 
}

.message-name strong {
  color:#E91E63
}


.linkback {
  font-size: 11px;
  margin-top: 15px;
}

.linkback a{
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}