.cname-box {
  text-align: left;
  background: #f3f3f3;
  width: 100%;
  padding: 10px;
}

.cname-item {
  text-align: left;
  background: #FFF;
  padding: 20px;
  margin-top: 10px;
}

.cname-link {
  
}
.cname-header {
  font-size: 20px;
    text-align: center;
    margin: 30px;
}