.linkCnameBox {
    background: #f3f3f3;
    width: 100%;
    padding: 20px;
}

.linkCnameBox button {
    padding: 6px;
    margin: 0 0px 0 5px;
    background: #ffffff;
    color: #c31055;
    border: 1px solid;
}

.linkCnameBox button:nth-child(2) {
    margin: 0;
}

.cnameMsg {
    padding: 1em;
}

.cnameValue {
    width: 50%;
    padding: 5px;
}
